@import '../../shared/variables/colors';

.player-container {
  position: fixed;
  bottom: 0;
  height: 100px;
  left: 0rem;
  right: 0rem;
  z-index: 1000;
  background-color: $main-dark-theme-background-color;

  &-content {
    height: 100%;
    border-top: solid 1px $main-dark-theme-border;
  }
}

.active-track {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

.volume-slider {
  color: $main-dark-theme-volume-slider-color !important;
  width: 110px !important;
}
