{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": 1,
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
    "comma-dangle": ["warn", "always-multiline"]
  }
}
