@import '../../../shared/variables/colors';

.track-container {
  height: 40px;
  line-height: 40px;

  &.active {
    background: $main-dark-theme-active-track-background;
  }
}

.vote-btn {
  padding: 0 5px;
  line-height: 25px;
  border: 1px solid $main-dark-theme-btn-border;

  &:hover {
    cursor: pointer;
    background-color: $main-dark-theme-active-btn-background;
  }
}
