@import '../../../shared/variables/colors';

.track-container {
  height: 40px;
  line-height: 40px;

  &.active {
    background: linear-gradient(
      90deg,
      $main-dark-theme-active-track-background 0%,
      $main-dark-theme-active-track-background-sub 100%);
    box-shadow: 0px 4px 4px $main-dark-theme-active-track-shadow;
  }

  .track-description {
    max-width: 50%;
  }

  .track-name {
    letter-spacing: 0.05em;
  }

  .track-length {
    font-size: 0.70rem;
    opacity: 0.9;
  }

  .track-additional-options-icon {
    transform: rotate(90deg);
  }

  .spacer {
    width: 20.8px;
    height: 20.8px;
  }
}
