$main-dark-theme-background-color: #171717;
$main-dark-theme-text-color: #FFFFFF;
$main-dark-theme-border: #262626;
$main-dark-theme-btn-border: #bdabab;
$main-dark-theme-active-btn-background: #812df9;
$main-dark-theme-active-track-background: #463b52;
$main-dark-theme-collapsed-track-background: #2b2828;
