$main-dark-theme-background-color: #000000;
$main-dark-theme-text-color: #FFFFFF;
$main-dark-theme-border: #262626;
$main-dark-theme-btn-border: #bdabab;
$main-dark-theme-header-filler-background: #1A171F;
$main-dark-theme-active-btn-background: #812df9;
$main-dark-theme-active-track-background: #231E27;
$main-dark-theme-active-track-background-sub: rgba(138, 86, 179, 0.24);
$main-dark-theme-active-track-shadow: rgba(22, 22, 22, 0.25);
$main-dark-theme-collapsed-track-background: #2b2828;
$main-dark-theme-volume-slider-color: #8437E4;
$main-dark-theme-waveform-active-bar-color: #5A1EA6;
$main-dark-theme-waveform-hovered-bar-color: #9962dd;
$main-dark-theme-link-color: #BB84FF;

:export {
  waveformBarDefaultColor: $main-dark-theme-text-color;
  waveformBarHoveredBarColor: $main-dark-theme-waveform-hovered-bar-color;
  waveformBarActiveBarColor: $main-dark-theme-waveform-active-bar-color;
}
