@font-face {
  font-family: 'Raleway Regular';
  src: url('../../public/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway Extra Light';
  src:  url('../../public/fonts/Raleway-ExtraLight.ttf');
}
