@import './variables/colors';
@import './variables/fonts';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $main-dark-theme-background-color;
  font-size: 1rem;
  font-family: 'Raleway Regular';
  font-feature-settings: 'pnum' on, 'lnum' on;

  #app {
    height: 100%;
  }
}

.small-text {
  font-size: 0.85rem;
}

.icon {
  cursor: pointer;
}

h4 {
  letter-spacing: 0.24em;
}

h5 {
  letter-spacing: 0.075em;
}

.light-text {
  font-family: 'Raleway Extra Light';
  font-feature-settings: 'pnum' on, 'lnum' on;
}
