@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import '~bootstrap/scss/bootstrap';
@import '../../shared/variables/colors';

.root-container {
  color: $main-dark-theme-text-color;

  .partial-view-container {
    padding-top: 100px;
    padding-bottom: 24px;
    overflow-y: visible;

    @include media-breakpoint-down(md) {
      padding-top: 0px;
      flex-direction: column;
    }
  }

  .visible-player {
    padding-bottom: 170px;
  }
}

a {
  color: $main-dark-theme-text-color;
  text-decoration: none;
}

a:hover { 
  color: $main-dark-theme-waveform-hovered-bar-color;
  text-decoration: none;
 }
