@import '~bootstrap/scss/bootstrap';
@import '../../shared/variables/colors';

.root-container {
  background-color: $main-dark-theme-background-color;
  color: $main-dark-theme-text-color;
  height: 100%;

  .partial-view-container {
    padding-top: 100px;
    padding-bottom: 60px;
    overflow-y: visible;
  }
}
