@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import '../../shared/variables/colors';

.description-text {
  font-size: 0.9rem;

  a {
    color: $main-dark-theme-link-color !important;
    cursor: pointer;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .track-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
