@import '../../shared/variables/colors';

.header-container {
  position: fixed;
  top: 0;
  height: 100px;
  left: 0rem;
  right: 0rem;
  background-color: $main-dark-theme-background-color;
  z-index: 1000;

  &-content {
    height: inherit;
  }

  &-filler {
    position: fixed;
    left: 0;
    border-bottom: 100px solid $main-dark-theme-header-filler-background;
    border-right: 100px solid transparent;
    height: 0;
    width: 32%;
  }
}
