@import '../../shared/variables/colors';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.header-container {
  position: fixed;
  top: 0;
  height: 100px;
  left: 0rem;
  right: 0rem;
  background-color: $main-dark-theme-background-color;
  z-index: 1000;

  &-content {
    height: inherit;
  }

  &-filler {
    position: fixed;
    left: 0;
    border-bottom: 100px solid $main-dark-theme-header-filler-background;
    border-right: 100px solid transparent;
    height: 0;
    width: 32%;
  }
}

.auth {
  position: absolute;
  top: 65px;
  height: 30px;
  z-index: 1001;
  width: 100%;
}

@include media-breakpoint-down(md) {
  .auth {
    top: 27px;
  }

  .account-name {
    font-size: small !important;
  }
}

@include media-breakpoint-down(xs) {
  .auth {
    top: 27px;
    width: 95px;
  }
}

