@import '../../shared/variables/colors';
@import '../../shared//variables//values';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.header-container {
  position: fixed;
  top: 0;
  height: $header-desktop-height;
  left: 0;
  right: 0;
  background-color: $main-dark-theme-background-color;
  z-index: 1000;

  @include media-breakpoint-down(md) {
    background-color: $main-dark-theme-header-filler-background;
    height: $header-mobile-height;
    position: absolute;
    z-index: 0;
  }

  &-content {
    height: inherit;
  }

  &-filler {
    position: fixed;
    left: 0;
    border-bottom: $header-desktop-height solid $main-dark-theme-header-filler-background;
    border-right: $header-desktop-height solid transparent;
    height: 0;
    width: 32%;

    @include media-breakpoint-down(md) {
      position: absolute;
    }
  }
}

@include media-breakpoint-down(md) {
  .account-name {
    font-size: small !important;
  }
}
